
.mainContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1300px;
    place-self: center;
    padding: 10px;
}

@media (max-width:1024px) {

    .mainContent{
    width: 100%;        
    }

}