
.suggestionListSection{
    width: var(--maxContainerWidth);
    margin-top: 70px;
}

.suggestionListSection>h1{
    font-size: var(--h1FontSize);
    margin-bottom: 30px;
}

.suggestionContainer{
    font-size: var(--h2FontSize);
    margin: 20px 0px 20px 0px;
}

.suggestionContainer>a{
    text-decoration: underline;
    color: gray;
}
