.blogArticle{
    padding: 75px;
    border-radius: 10px;
    /* background-color: rgb(247, 246, 246); */
    width: 100%;
    place-items: center;

}

.blogArticle p{
    text-align: justify;
    width: var(--maxContainerWidth);
}

.blogArticle h1{
    text-align: start;
}

.blogArticle figure{
    margin: 40px 0px 40px 0px;
}

.blogArticle figcaption{
    margin-top: 5px;
    color: rgb(45, 45, 45);
}

.titleBlogContainer{
    width: var(--maxContainerWidth);
    font-size: var(--blogTitleFontSize);
}

.blogDateContainer{
    font-size: var(--h2FontSize);
    color: gray;
    margin: 10px 0px 10px 0px;
}

.authorBlogContainer{
    margin: 20px 0px 20px 0px;
    width: var(--maxContainerWidth);
    height: 45px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--authorFontSize);
}

.authorBlogContainer>img{
    width: auto;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid black;
}

.capeBlogContainer>img{
    width: 100%;
    height: auto;
}

.contentBlogContainer{
    margin-top: 60px;
}

.contentBlogContainer>h1{
    font-size: var(--h1FontSize);
    margin: 25px 0px 40px 0px
}

.contentBlogContainer>h2{
    font-size: var(--h2FontSize);
    margin: 25px 0px 15px 0px;
}

.contentBlogContainer>p{
    margin: 10px 0px 10px 0px;
    font-size: var(--paragraphFontSize);
}

.contentBlogContainer ol,ul{
    padding: 0px 0px 0px 20px;
    list-style: disc;
    font-size: var(--paragraphFontSize);
}

.contentBlogContainer>ol>li{
    margin: 22px 0px 22px 0px;
}

.contentBlogContainer>ul>li{
    margin: 22px 0px 22px 0px;
}

.contentBlogContainer img{
    width: var(--maxContainerWidth);
    height: 500px;
    background-color: black;
}

@media (max-width:1024px){
    .blogArticle{
        padding: 2px;
        
    }

    .contentBlogContainer img{
        width: 100%;
        height: auto;
    }

}