
.blogCardListSection{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    gap: 10px;
    width: 100%;
    margin: 40px 0px 40px 0px;
    place-self: center;
}

@media (max-width:1024px) {
    
.blogCardListSection{
    grid-template-columns: 1fr;
}

}