*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --greenColor: rgb(0,191,99);
    font-family: Arial;
}

::-webkit-scrollbar{
    background-color: rgb(238, 238, 238);
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(192, 191, 191);
    border-radius: 15px;
}
